## Practica de listas

In [110]:
lista = ["a","b","c","d","e",1,2,3,4,5,False,True]
lista_copy=lista.copy()

- En listas separadas obtener una lista paras los caracteres, otra lista para los enteros y otra lista para lo booleanos, utilizando slicing

In [111]:
lista_chr=lista_copy[:5]
lista_chr

['a', 'b', 'c', 'd', 'e']

In [112]:
lista_int=lista_copy[5:10]
lista_int

[1, 2, 3, 4, 5]

In [113]:
lista_bool=lista_copy[10:]
lista_bool

[False, True]

- Insertar las vocales faltantes a la lista de caracteres

In [114]:
lista_chr.extend(["i","o","u"])
lista_chr

['a', 'b', 'c', 'd', 'e', 'i', 'o', 'u']

- Eliminar los caracteres que no son vocales de la lista de caracteres

In [115]:
lista_chr.remove("b")
lista_chr.remove("c")
lista_chr.remove("d")
lista_chr

['a', 'e', 'i', 'o', 'u']

- De la lista inicial (lista) reemplazar los elementos boleanos por 0 y 1 respectivamente

In [116]:
lista[-1]=1
lista[-2]=0
lista

['a', 'b', 'c', 'd', 'e', 1, 2, 3, 4, 5, 0, 1]

- Aplicar el método reverse a la lista de números

In [48]:
lista_int

[1, 2, 3, 4, 5]

In [49]:
lista_int.reverse()

In [51]:
lista_int

[5, 4, 3, 2, 1]

- Aplicar el método sort() a la lista de números

In [52]:
lista_int.sort()
lista_int

[1, 2, 3, 4, 5]

-Obtener la lista inicial sumando las listas que se obtuvieron por separado

In [117]:
lista_int+lista_chr+lista_bool

[1, 2, 3, 4, 5, 'a', 'e', 'i', 'o', 'u', False, True]

- Dada la siguiente lista de empresas: [["Cocacola","Pepsi"],["FB","TW","IG"],["Ferrari","Audi","Ford","Nissan"],["KLM","AA","Iberia","AE","Avianca"]]

1. Ordenar cada lista dentro de la lista de empresas en orden alfabetico
2. Obtener las empresas: Audi, Avianca y KLM, mediante sus índices e crear una nueva lista con esos elementos
3. Crear una nueva lista con la primera empresa de cada lista de empresas 
4. Crear una lista con todas las empresas

In [62]:
empresas= [["Cocacola","Pepsi"],["FB","TW","IG"],["Ferrari","Audi","Ford","Nissan"],["KLM","AA","Iberia","AE","Avianca"]]

In [119]:
empresas[0].sort()
empresas[1].sort()
empresas[2].sort()
empresas[3].sort()
empresas

[['Cocacola', 'Pepsi'],
 ['FB', 'IG', 'TW'],
 ['Audi', 'Ferrari', 'Ford', 'Nissan'],
 ['AA', 'AE', 'Avianca', 'Iberia', 'KLM']]

In [120]:
lista=[]
for i in empresas[0]:
    lista.append(i)
for i in empresas[1]:
    lista.append(i)
for i in empresas[2]:
    lista.append(i)
for i in empresas[3]:
    lista.append(i)

In [121]:
lista

['Cocacola',
 'Pepsi',
 'FB',
 'IG',
 'TW',
 'Audi',
 'Ferrari',
 'Ford',
 'Nissan',
 'AA',
 'AE',
 'Avianca',
 'Iberia',
 'KLM']

In [94]:
empresas

[['Cocacola', 'Pepsi'],
 ['FB', 'TW', 'IG'],
 ['Ferrari', 'Audi', 'Ford', 'Nissan'],
 ['KLM', 'AA', 'Iberia', 'AE', 'Avianca']]

In [97]:
lista2=[empresas[0][0],empresas[0][1],empresas[1][0],empresas[1][1],empresas[1][2],empresas[2][0],empresas[2][1],empresas[2][2],
       empresas[2][3],empresas[3][0],empresas[3][1],empresas[3][2],empresas[3][3],empresas[3][4]]
lista2

['Cocacola',
 'Pepsi',
 'FB',
 'TW',
 'IG',
 'Ferrari',
 'Audi',
 'Ford',
 'Nissan',
 'KLM',
 'AA',
 'Iberia',
 'AE',
 'Avianca']