## Practica de listas

In [9]:
lista = ["a","b","c","d","e",1,2,3,4,5,False,True]

- En listas separadas obtener una lista paras los caracteres, otra para los enteros y otra para lo booleanos, utilizando slicing

In [10]:
lista1 = lista[:5]
lista1

['a', 'b', 'c', 'd', 'e']

In [3]:
lista2 = lista[5:10]
lista2

[1, 2, 3, 4, 5]

In [4]:
lista3 = lista[10:]
lista3

[False, True]

- Insertar las vocales faltantes a la lista de caracteres

In [11]:
lista1.extend(["i","o","u"])
lista1

['a', 'b', 'c', 'd', 'e', 'i', 'o', 'u']

- Eliminar los caracteres que no son vocales de la lista de caracteres

In [6]:
del lista1[1:4]

In [7]:
lista1

['a', 'e', 'i', 'o', 'u']

In [12]:
lista1.remove("b")
lista1.remove("c")
lista1.remove("d")
lista1

['a', 'e', 'i', 'o', 'u']

- De la lista inicial (lista) reemplazar los elementos boleanos por 0 y 1 respectivamente

In [13]:
lista[-1] = 1
lista[-2] = 0
lista

['a', 'b', 'c', 'd', 'e', 1, 2, 3, 4, 5, 0, 1]

In [14]:
lista = ["a","b","c","d","e",1,2,3,4,5,False,True]
lista

['a', 'b', 'c', 'd', 'e', 1, 2, 3, 4, 5, False, True]

In [15]:
lista[10:]=[0,1]
lista

['a', 'b', 'c', 'd', 'e', 1, 2, 3, 4, 5, 0, 1]

In [16]:
lista[-3:]=[0,1]
lista

['a', 'b', 'c', 'd', 'e', 1, 2, 3, 4, 0, 1]

In [17]:
lista = ["a","b","c","d","e",1,2,3,4,5,False,True]
print(lista)
lista[-1]=1
#importante
lista[lista.index(False)]=0
print(lista)

['a', 'b', 'c', 'd', 'e', 1, 2, 3, 4, 5, False, True]
['a', 'b', 'c', 'd', 'e', 1, 2, 3, 4, 5, 0, 1]

- Aplicar el método reverse a la lista de números

In [18]:
lista2.reverse()
lista2

[5, 4, 3, 2, 1]

- Aplicar el método sort() a la lista de números

In [19]:
lista2.sort()
lista2

[1, 2, 3, 4, 5]

-Obtener la lista inicial sumando las listas que se obtuvieron por separado

In [22]:
lista1+lista2+lista3

['a', 'e', 'i', 'o', 'u', 1, 2, 3, 4, 5, False, True]

- Dada la siguiente lista de empresas

In [33]:
empresas = [["Cocacola","Pepsi"],["FB","TW","IG"],["Ferrari","Audi","Ford","Nissan"],
           ["KLM","AA","Iberia","AE","Avianca"]]
empresas

[['Cocacola', 'Pepsi'],
 ['FB', 'TW', 'IG'],
 ['Ferrari', 'Audi', 'Ford', 'Nissan'],
 ['KLM', 'AA', 'Iberia', 'AE', 'Avianca']]

1. Ordenar cada lista dentro de la lista de empresas en orden alfabetico
2. Obtener las empresas: Audi, Avianca y KLM, mediante sus índices y crear una nueva lista con esos elementos
3. Crear una nueva lista con la primera empresa de cada lista de empresas 
4. Crear una lista con todas las empresas

In [34]:
empresas[0].sort()
empresas[1].sort()
empresas[2].sort()
empresas[3].sort()
empresas

[['Cocacola', 'Pepsi'],
 ['FB', 'IG', 'TW'],
 ['Audi', 'Ferrari', 'Ford', 'Nissan'],
 ['AA', 'AE', 'Avianca', 'Iberia', 'KLM']]

In [25]:
nueva_lista = [empresas[2][0],empresas[3][2],empresas[3][4]]
nueva_lista

['Audi', 'Avianca', 'KLM']

In [27]:
empresas_seleccionadas = []
empresas_seleccionadas.append(empresas[2][0])
empresas_seleccionadas.append(empresas[3][2])
empresas_seleccionadas.append(empresas[3][4])
empresas_seleccionadas

['Audi', 'Avianca', 'KLM']

In [26]:
[empresas[0][0],empresas[1][0],empresas[2][0],empresas[3][0]]

['Cocacola', 'FB', 'Audi', 'AA']

In [31]:
empresas[0].extend(empresas[1])
empresas[0].extend(empresas[2])
empresas[0].extend(empresas[3])
lista1 = empresas[0]
lista1

['Cocacola',
 'Pepsi',
 'FB',
 'IG',
 'TW',
 'Audi',
 'Ferrari',
 'Ford',
 'Nissan',
 'AA',
 'AE',
 'Avianca',
 'Iberia',
 'KLM']

In [ ]:
# Cada variable es una empresa y cada empresa se agrega a new_listt
list8=list[0][0]
list9=list[0][1]
list10=list[1][0]
list11=list[1][1]
list12=list[1][2]
list13=list[2][0]
list14=list[2][1]
list15=list[2][2]
list16=list[2][3]
list17=list[3][0]
list18=list[3][1]
list19=list[3][2]
list20=list[3][3]
list21=list[3][4]

new_listt=[list8,list9,list10,list11,list12,list13,list14,list15,list16,list17,list18,list19,list20,list21]
print(new_listt)

In [35]:
lst_all = empresas[0] + empresas[1] + empresas[2] + empresas[3]
lst_all

['Cocacola',
 'Pepsi',
 'FB',
 'IG',
 'TW',
 'Audi',
 'Ferrari',
 'Ford',
 'Nissan',
 'AA',
 'AE',
 'Avianca',
 'Iberia',
 'KLM']

In [36]:
lista=[]
for i in empresas[0]:
    lista.append(i)
for i in empresas[1]:
    lista.append(i)
for i in empresas[2]:
    lista.append(i)
for i in empresas[3]:
    lista.append(i)
lista

['Cocacola',
 'Pepsi',
 'FB',
 'IG',
 'TW',
 'Audi',
 'Ferrari',
 'Ford',
 'Nissan',
 'AA',
 'AE',
 'Avianca',
 'Iberia',
 'KLM']