### Practica Tuplas, Sets y Diccionarios

In [1]:
#Importamos la librería random y utilizamos la función randint
import random
random.randint(1,10)
import numpy as np

### Tuplas

#### Ejercicio 1

- Crear una tupla utilizando la función range(), del número 11 al 20. Ejemplo: tupla = tuple(range(3)).

In [23]:
tupla=tuple(range(11,21))
tupla

(11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

- Utiliza la tupla anterior para convertirla a lista utilizando una lista vacia y llenandola con un bucle.

In [24]:
lista=[]
for i in tupla:
    lista.append(i)
lista

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

- Ordena de mayor a menor la lista anterior.

In [25]:
lista.sort(reverse=True)
lista

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11]

- Convierte la lista anterior a tupla y ordenala de menor a mayor.

In [26]:
tupla=tuple(lista)
sorted(tupla)

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

- ¿Qué tipo de dato es el rusultado de ordenar la tupla anterior?

In [27]:
type(tupla)

tuple

#### Ejercicio 2

- Dada la siguiente frase = "Había una vez en una galaxia lejana", conviertela en tupla, ordenala y manten la tupla (Que no sea una lista).

In [112]:
frase="Había una vez en una galaxia lejana"
frase=frase.split(" ")
frase=sorted(frase)
tupla=tuple(frase)
tupla

('Había', 'en', 'galaxia', 'lejana', 'una', 'una', 'vez')

- Del resultado anterior, muestra cuantas veces aparece cada vocal, utlizando un bucle for que recorra la siguiente tupla: ("a","e","i","o","u").

In [138]:
alist=[]
elist=[]
ilist=[]
olist=[]
ulist=[]

for i in range(len(tupla)):
    a=tupla[i].count("a")
    alist.append(a)
    
    e=tupla[i].count("e")
    elist.append(e)
    
    i=tupla[i].count("i")
    ilist.append(i)
    
    o=tupla[i].count("o")
    olist.append(o)
    
    u= tupla[i].count("u")
    ulist.append(u)
print(np.sum(alist))
print(np.sum(elist))
print(np.sum(ilist))
print(np.sum(olist))
print(np.sum(ulist))

9
3
1
0
0

In [ ]:
tu

9
3
1
0
2

#### Ejercicio 3

- Dada la siguiente tupla: (9,8,7,5,"a",3,6,5), encuentra la forma para eliminar la letra "a".

In [28]:
tupla= (9,8,7,5,"a",3,6,5)
lista=list(tupla)
lista.remove("a")
tupla=tuple(lista)
tupla

(9, 8, 7, 5, 3, 6, 5)

(9, 8, 7, 5, 3, 6, 5)

#### Ejercicio 4

- Pregunta a un usuario que ingrese 5 elementos diferentes y convierte estos elementos a una tupla, puede ser una palabra o un número.

In [139]:
lista=[]
for i in range (5):
    elem=input("Introduce una palabra o numero: ")
    lista.append(elem)
tupla=tuple(lista)
tupla

Introduce una palabra o numerou
Introduce una palabra o numeroo
Introduce una palabra o numero7
Introduce una palabra o numero9
Introduce una palabra o numerok

('u', 'o', '7', '9', 'k')

#### Ejercicio 5

- Dada la siguiente lista de tuplas: [(10, 20, 40), (40, 50, 60), (70, 80, 90)], elimina el último elemento de cada tupla dentro de la lista.

In [142]:
lista=[(10, 20, 40), (40, 50, 60), (70, 80, 90)]

In [158]:
lista2=[]
for i in range(len(lista)):
    sublista=list(lista[i])
    sublista.pop()
    subtupla=tuple(sublista)
    lista2.append(subtupla)
lista2

[(10, 20), (40, 50), (70, 80)]

[(10, 20), (40, 50), (70, 80)]

________________________________________________________

### Sets

#### Ejercicio 1

- Pide al usuario que ingrese 3 empresas de tecnología, estos elementos agregalos al siguiente set: {"Facebook","Google","Apple"}
- Verifica que no se repita ninguna empresa y dile al usuario que no se repitio ninguna empresa.

In [169]:
empresas=["Facebook","Google","Apple"]
mi_set={"Facebook","Google","Apple"}
for empresa in range(3):
    empresa=input("Introduce una empresa")
    empresas.append(empresa)
    mi_set.add(empresa)

if len(mi_set)!=(len(empresas)):
    print("has elegido la misma empresa varias veces")
else:
    print("No has repetido ninguna empresa")
print(mi_set)

Introduce una empresaGoogle
Introduce una empresaii
Introduce una empresaoo
has elegido la misma empresa varias veces
{'Facebook', 'ii', 'oo', 'Apple', 'Google'}

- Repite el ejercicio anterior pero ahora imprime las empresas que se repiten en caso de que existiera uno o más que se repitan

In [171]:
for i in empresas:
    a=empresas.count(i)
    print(i,"aparece",a,"veces")

Facebook aparece 1 veces
Google aparece 2 veces
Apple aparece 1 veces
Google aparece 2 veces
ii aparece 1 veces
oo aparece 1 veces

#### Ejercicio 2

- Dado una lista que ingrese el usuario de numeros del 1 al 10, (el número de elementos que va agregar el usuario debe de ser de 1 a 10 utilizando la función randint()) aplica las siguientes operaciones: union, intesección con el siguiente set: (8,5,3,2,1,7)

In [12]:
set1={8,5,3,2,1,7}
set2=set()
for i in range(1,10):
    numero=int(input("Escribe un numero del 1 al 10: "))
    set2.add(numero)
print("\n")
print("Union entre los sets= ",set1.union(set2))
print("Interseccion entre los sets= ",set1.intersection(set2))

Escribe un numero del 1 al 10: 1
Escribe un numero del 1 al 10: 2
Escribe un numero del 1 al 10: 3
Escribe un numero del 1 al 10: 4
Escribe un numero del 1 al 10: 6
Escribe un numero del 1 al 10: 7
Escribe un numero del 1 al 10: 8
Escribe un numero del 1 al 10: 910
Escribe un numero del 1 al 10: 10


Union entre los sets=  {1, 2, 3, 4, 5, 6, 7, 8, 10, 910}
Interseccion entre los sets=  {1, 2, 3, 7, 8}

{1, 2, 3, 7, 8}

#### Ejercicio 3

- Utilizando un bucle **for** haz la función intersección de los sets entre dos listas. (Se deben de utilizar 2 bucles for)

In [13]:
lista1=[1,2,3,4,5,5,6]
lista2=[2,4,6,5,1,2,6]
lista_inter=[]
for i in lista2:
    if i in lista1:
        lista_inter.append(i)
lista_inter
mi_set=set(lista_inter)
mi_set

{1, 2, 4, 5, 6}

[4, 5]

#### Ejercicio 4

- Dadas las siguientes frases = "En una galaxia lejana" y "Una galaxia llamadá Via Lactea", haz la intersección de las palabras

In [1]:
frase1="En una galaxia lejana"
frase2="Una galaxia llamada via lactea"
frase1=frase1.split(" ")
frase2=frase2.split(" ")
set1=set(frase1)
set2=set(frase2)
set1

{'En', 'galaxia', 'lejana', 'una'}

{'En', 'galaxia', 'lejana', 'una'}

In [22]:
set2

{'Una', 'galaxia', 'lactea', 'llamada', 'via'}

In [23]:
set1.intersection(set2)

{'galaxia'}

{'galaxia'}

#### Ejercicio 5

- Utilizanod un bucle **for** encuentra la diferencia entre el set1 = {9,8,7,6,5,4,3,2} y el set2 = {9,8,10} y comprueba el resultado utilizando el método difference()

In [2]:
set1= {9,8,7,6,5,4,3,2} 
set2 = {9,8,10}
mi_set=set()
for i in set1:
    if i not in set2:
        mi_set.add(i)
mi_set

{2, 3, 4, 5, 6, 7}

{2, 3, 4, 5, 6, 7}

In [6]:
set1.difference(set2)

{2, 3, 4, 5, 6, 7}

{2, 3, 4, 5, 6, 7}

______________________________________

### Diccionarios

#### Ejercicio 1

- Crea un diccionario de 5 items, preguntando al usuario nombre y edad, los nombres seran las keys y la edad los values.

In [172]:
diccionario=dict()
for i in range(5):
    usuario=input("Ingresa aqui tu nombre: ")
    edad=int(input("Ingresa aqui tu edad: "))
    diccionario[usuario]=edad
diccionario

Ingresa aqui tu nombre: Gael
Ingresa aqui tu edad21
Ingresa aqui tu nombre: Maria
Ingresa aqui tu edad22
Ingresa aqui tu nombre: Juan
Ingresa aqui tu edad60
Ingresa aqui tu nombre: Luis
Ingresa aqui tu edad45
Ingresa aqui tu nombre: Julia
Ingresa aqui tu edad54

{'Gael': 21, 'Maria': 22, 'Juan': 60, 'Luis': 45, 'Julia': 54}

Ingresar nombre: Gael
Ingresar edad: 21
Ingresar nombre: María
Ingresar edad: 22
Ingresar nombre: Victor
Ingresar edad: 28
Ingresar nombre: Sara
Ingresar edad: 20
Ingresar nombre: Pablo
Ingresar edad: 29

{'Gael': 21, 'María': 22, 'Victor ': 28, 'Sara': 20, 'Pablo': 29}

#### Ejercicio 2

- Repite el ejercicio anterior pero de la siguiente forma:
- Primero agrega en una lista los nombres y en otra lista las edades y después crea el diccionario a partir de las listas. (Utilizar update() y enumerate())

In [10]:
diccionario=dict()
lista1=["Maria","Juan","Gael","Sara","Eva"]
lista2=[22,31,40,35,56]
for i,j in zip(lista1,lista2):
    diccionario.update({i:j})
diccionario

{'Maria': 22, 'Juan': 31, 'Gael': 40, 'Sara': 35, 'Eva': 56}

Ingresar nombre: Gael
Ingresar edad: 20
Ingresar nombre: María
Ingresar edad: 29
Ingresar nombre: Pablo
Ingresar edad: 27
Ingresar nombre: Sara
Ingresar edad: 25
Ingresar nombre: Josue
Ingresar edad: 21

{'Gael': 20, 'María': 29, 'Pablo': 27, 'Sara': 25, 'Josue': 21}

#### Ejercicio 3

- Pide al usuario que ingrese 3 números distintos y con esos números como keys, crea los values utilizando la siguiente formula: x:x**2, donde x es la llave.

In [32]:
diccionario=dict()
for i in range(3):
    num=int(input("Ingrese un numero"))
    cuadrado=num**2
    diccionario[num]=cuadrado
diccionario

Ingrese un numero5
Ingrese un numero6
Ingrese un numero7

{5: 25, 6: 36, 7: 49}

Ingresa un número: 5
Ingresa un número: 6
Ingresa un número: 7

{5: 25, 6: 36, 7: 49}

#### Ejercicio 4

- Pide al usuario que ingrese una frase y agrega las palabras como keys y la frecuencia de cada palabra como value en un diccionario. (ver el ejemplo de la presentación)

In [45]:
frase=input("Escribe una frase")
frase=frase.split(" ")
diccionario=dict()
for i in frase:
    c=frase.count(i)
    diccionario[i]=c
diccionario

Escribe una frasehola hola 4 4 hello

{'hola': 2, '4': 2, 'hello': 1}

#### Ejercicio 5

- Crea un programa donde las llaves sean 7 números aleatorios entre el 100 y el 200 y en los valores diga si es par o impar la llave

In [51]:
import random
diccionario=dict()
for i in range(7):
    num=random.randint(100,200)
    if num%2==0:
        diccionario[num]="Par"
    else:
        diccionario[num]="Impar"
diccionario

{181: 'Impar', 188: 'Par', 192: 'Par', 119: 'Impar', 194: 'Par', 183: 'Impar'}

#### Ejercicio 6

- Crea un programa donde las llaves sean 10 números aleatorios entre el 1 y el 50 y para cada número el valor del diccionario va a ser igual a 1/x

In [4]:
import random
diccionario=dict()
for i in range(10):
    num=random.randint(100,200)
    diccionario[num]=1/num
    
diccionario

{190: 0.005263157894736842,
 166: 0.006024096385542169,
 144: 0.006944444444444444,
 175: 0.005714285714285714,
 184: 0.005434782608695652,
 191: 0.005235602094240838,
 122: 0.00819672131147541,
 152: 0.006578947368421052,
 103: 0.009708737864077669}

- Del diccionario anterior invierte los valores por llaves

In [5]:
dicc_keys=list(diccionario.keys())
dicc_values=list(diccionario.values())
diccionario=dict()
for i,j in zip(dicc_keys,dicc_values):
    diccionario[j]=i
diccionario

{0.005263157894736842: 190,
 0.006024096385542169: 166,
 0.006944444444444444: 144,
 0.005714285714285714: 175,
 0.005434782608695652: 184,
 0.005235602094240838: 191,
 0.00819672131147541: 122,
 0.006578947368421052: 152,
 0.009708737864077669: 103}

{0.1111111111111111: 9,
 0.3333333333333333: 3,
 0.07692307692307693: 13,
 0.02040816326530612: 49,
 0.2: 5,
 0.02857142857142857: 35,
 0.047619047619047616: 21,
 0.16666666666666666: 6,
 0.022222222222222223: 45}

#### Ejercicio 8

- Recurre al ejercicio donde el usuario ingresa 5 nombres y sus edades, y ordena el diccionario por orden alfabetico

In [79]:
import operator
diccionario=dict()

for i in range(3):
    usuario=input("Ingresa tu nombre")
    
    edad=int(input("Ingresa aqui tu edad"))
    diccionario[usuario]=edad
diccionario
dicc_sort = sorted(diccionario.items(), key=operator.itemgetter(1))
dicc_sort

Ingresa tu nombrejuan
Ingresa aqui tu edad54
Ingresa tu nombremaria
Ingresa aqui tu edad76
Ingresa tu nombrepepe
Ingresa aqui tu edad12

[('pepe', 12), ('juan', 54), ('maria', 76)]

#### Ejercicio 9

- Crea un programa que dados los siguientes diccionarios: d1 = {"a":125,"b":130,"c":150}, d2 = {"e": 10,"b":20,"a":30}, sume los items con la misma llave y guarde esas llaves y valores en un nuevo diccionario

In [9]:
d1 = {"a":125,"b":130,"c":150}
d2 = {"e": 10,"b":20,"a":30}
d1=sorted(d1.items())
d2=sorted(d2.items())
diccionario=dict()
for i in range(3):
    if d1[i][0]==d2[i][0]:
        letra=d2[i][0]
        diccionario[letra]=(d1[i][1]+d2[i][1])
diccionario

{'a': 155, 'b': 150}

{'b': 150, 'a': 155}

In [6]:
d2 = {"e": 10,"b":20,"a":30}
sorted(d2)

['a', 'b', 'e']