In [25]:
import pandas as pd

In [26]:
df=pd.read_csv("/Users/rociocuestapedraz/Desktop/PYTHON bootcamp DS/datasets/movies.csv")

In [27]:
df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [28]:
userInput = [
            {'title':'Pagemaster, The', 'rating':5},
            {'title':'Toy Story', 'rating':4.5},
            {'title':'Jumanji', 'rating':3},
            {'title':"Pulp Fiction", 'rating':2},
            {'title':'Beauty and the Beast', 'rating':4.5}
         ] 
inputMovies = pd.DataFrame(userInput)
inputMovies

                  title  rating
0       Pagemaster, The     5.0
1             Toy Story     4.5
2               Jumanji     3.0
3          Pulp Fiction     2.0
4  Beauty and the Beast     4.5

In [24]:
df["title"][1].split("(")

['Jumanji ', '1995)']

In [31]:
titulo=[]
for i in range(len(df)):
    tit=df["title"][i].split("(")
    titulo.append(tit[0])
df['titulo']=titulo

In [51]:
df2=df[df["titulo"].isin(["Pagemaster, The ","Toy Story ","Jumanji ","Pulp Fiction ","Beauty and the Beast "])]
df2=df2[0:5]
df2=df2.reset_index(drop=True)

In [52]:
df2

,movieId,title,genres,titulo
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story
1,2,Jumanji (1995),Adventure|Children|Fantasy,Jumanji
2,296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,Pulp Fiction
3,558,"Pagemaster, The (1994)",Action|Adventure|Animation|Children|Fantasy,"Pagemaster, The"
4,595,Beauty and the Beast (1991),Animation|Children|Fantasy|Musical|Romance|IMAX,Beauty and the Beast

In [53]:
genero=[]
for i in range(len(df2)):
    gen=df2["genres"][i].split("|")
    genero.append(gen)
set(genero)

[['Adventure', 'Animation', 'Children', 'Comedy', 'Fantasy'],
 ['Adventure', 'Children', 'Fantasy'],
 ['Comedy', 'Crime', 'Drama', 'Thriller'],
 ['Action', 'Adventure', 'Animation', 'Children', 'Fantasy'],
 ['Animation', 'Children', 'Fantasy', 'Musical', 'Romance', 'IMAX']]

In [82]:
df3=pd.DataFrame(columns=['Titulo','Action','Adventure','Animation','Children','Crime','Comedy','Drama','Fantasy','IMAX',
                          'Musical','Thriller','Romance'])

df3['Titulo']=df2["titulo"]

In [83]:
toys=['Toy Story',0,0,1,1,0,1,0,1,0,0,0,0]
juma=['Jumanji',0,1,0,1,0,0,0,1,0,0,0,0]
pulp=['Pulp Fiction',0,0,0,0,1,1,1,0,0,0,1,0]
page=['Pagemaster, The',1,1,1,1,0,0,0,1,0,0,0,0]
beau=['Beauty and the Beast',0,0,1,1,0,0,0,1,0,1,0,1]

df3.iloc[0]=toys
df3.iloc[1]=juma
df3.iloc[2]=pulp
df3.iloc[3]=page
df3.iloc[4]=beau

In [84]:
df3

,Titulo,Action,Adventure,Animation,Children,Crime,Comedy,Drama,Fantasy,IMAX,Musical,Thriller,Romance
0,Toy Story,0,0,1,1,0,1,0,1,0,0,0,0
1,Jumanji,0,1,0,1,0,0,0,1,0,0,0,0
2,Pulp Fiction,0,0,0,0,1,1,1,0,0,0,1,0
3,"Pagemaster, The",1,1,1,1,0,0,0,1,0,0,0,0
4,Beauty and the Beast,0,0,1,1,0,0,0,1,0,1,0,1

In [85]:
inputMovies

                  title  rating
0       Pagemaster, The     5.0
1             Toy Story     4.5
2               Jumanji     3.0
3          Pulp Fiction     2.0
4  Beauty and the Beast     4.5

In [86]:
df3.iloc[:,1:]=df3.iloc[:,1:].astype("float32")

In [87]:
df3

,Titulo,Action,Adventure,Animation,Children,Crime,Comedy,Drama,Fantasy,IMAX,Musical,Thriller,Romance
0,Toy Story,0,0,1,1,0,1,0,1,0,0,0,0
1,Jumanji,0,1,0,1,0,0,0,1,0,0,0,0
2,Pulp Fiction,0,0,0,0,1,1,1,0,0,0,1,0
3,"Pagemaster, The",1,1,1,1,0,0,0,1,0,0,0,0
4,Beauty and the Beast,0,0,1,1,0,0,0,1,0,1,0,1

In [88]:
df3.iloc[0,1:]

Action       0
Adventure    0
Animation    1
Children     1
Crime        0
Comedy       1
Drama        0
Fantasy      1
IMAX         0
Musical      0
Thriller     0
Romance      0
Name: 0, dtype: object

In [89]:
df3.iloc[0,1:]=df3.iloc[0,1:]*5
df3.iloc[1,1:]=df3.iloc[1,1:]*4.5
df3.iloc[2,1:]=df3.iloc[2,1:]*3
df3.iloc[3,1:]=df3.iloc[3,1:]*2
df3.iloc[4,1:]=df3.iloc[4,1:]*4.5

In [90]:
df3

,Titulo,Action,Adventure,Animation,Children,Crime,Comedy,Drama,Fantasy,IMAX,Musical,Thriller,Romance
0,Toy Story,0,0,5,5,0,5,0,5,0,0,0,0
1,Jumanji,0,4.5,0,4.5,0,0,0,4.5,0,0,0,0
2,Pulp Fiction,0,0,0,0,3,3,3,0,0,0,3,0
3,"Pagemaster, The",2,2,2,2,0,0,0,2,0,0,0,0
4,Beauty and the Beast,0,0,4.5,4.5,0,0,0,4.5,0,4.5,0,4.5

In [91]:
perfil=df3.iloc[:,1:].sum(axis=0)

In [94]:
total=perfil.sum()

In [95]:
perfil_norm=[]
for i in perfil:
    norm=i/total
    perfil_norm.append(norm)

In [96]:
perfil_norm

[0.02564102564102564,
 0.08333333333333333,
 0.14743589743589744,
 0.20512820512820512,
 0.038461538461538464,
 0.10256410256410256,
 0.038461538461538464,
 0.20512820512820512,
 0.0,
 0.057692307692307696,
 0.038461538461538464,
 0.057692307692307696]

In [101]:
genero=[]
for i in range(len(df)):
    gen=df["genres"][i].split("|")
    genero.append(gen)

In [103]:
df["genero"]=genero

In [ ]:
categories=["municipio","room_type"]
for category in categories:
        cat_dummies=pd.get_dummies(df[category],prefix=category)
        df=df.join(cat_dummies)
        df.drop([category], axis='columns', inplace=True)

In [108]:
generos2=[]
for generos in df["genero"]:
    for i in generos:
        generos2.append(i)

In [109]:
import numpy as np
from itertools import chain
array=np.array(df["genero"])
unicos=set(chain(*array))

In [100]:
df2

,movieId,title,genres,titulo
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story
1,2,Jumanji (1995),Adventure|Children|Fantasy,Jumanji
2,296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,Pulp Fiction
3,558,"Pagemaster, The (1994)",Action|Adventure|Animation|Children|Fantasy,"Pagemaster, The"
4,595,Beauty and the Beast (1991),Animation|Children|Fantasy|Musical|Romance|IMAX,Beauty and the Beast