In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("/Users/rociocuestapedraz/Desktop/PYTHON bootcamp DS/datasets/bank.csv", delimiter=";")
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

### 1. Eliminar las columnas: default, balance, housing, loan, duration, campaign, pdays, previous, poutcome

In [3]:
del df[["default","balance", "housing", "loan", "duration", "campaign", "pdays", "previous", "poutcome"]]

TypeError: '['default', 'balance', 'housing', 'loan', 'duration', 'campaign', 'pdays', 'previous', 'poutcome']' is an invalid key

### 2. Aplicar map sobre la columna contact y cambiar cada elemento a espaÃ±ol

### 3. Aplicar applymap sobre las columnas job y marital y pasa cada elemento a mayusculas

### 4. Agrupa los patrones por education y muestra el primer elemento de cada agrupaciÃ³n

### 5. Agrupa los patrones por month y muestra el Ãºltimo elemento de cada agrupaciÃ³n

### 6. Agrupa los patrones por education y job, despuÃ©s muestra el primer patrÃ³n de cada agrupaciÃ³n

### 7. Agrupa los patrones por marital y obten el tamaÃ±o de cada agrupaciÃ³n

### 8. Agrupa los patrones por marital y edad, despuÃ©s obten el tamaÃ±o de cada agrupaciÃ³n

### 9. Agrupa los patrones por marital y obten el valor mÃ¡ximo para la columna age

### 10. Agrupa los patrones por job y obten la edad mÃ¡xima y minima de cada agrupaciÃ³n

### 11. Obten los indices del resultado anterior en una sola fila